name: Build

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.25', '1.26']
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Build Library
      run: go build -v ./sdk/... ./methods/...

    - name: Build Examples
      run: |
        go build -o create-volumes example/create-volumes/main.go
        go build -o s3-backup example/s3-backup/main.go
